<div class="row mb-4">
    <div class="col-md-6">
      <input type="text" [(ngModel)]="searchText" class="form-control" placeholder="Tìm kiếm thông báo...">
    </div>
    <div class="col-md-6 text-end">
      <a routerLink="./create-notifi" class="btn btn-primary show">
        <i class="fa fa-plus me-1"></i> Tạo thông báo
      </a>
    </div>
  </div>
  
  <div *ngFor="let noti of notifications ">
    <div class="announcement-item border-start border-3 border-success p-3 mb-3" style="background-color: #fff;">
      <h4 class="fw-bold">{{ noti.noiDung }}</h4>
      <p class="text-muted">
        <i class="fa fa-layer-group me-1"></i> Mã thông báo: <strong>{{ noti.maThongBao }}</strong>
      </p>
      <div class="text-end">
        <span class="text-muted me-2">
          <i class="fa fa-clock"></i> {{ noti.thoiGianTao }}
        </span>
        <a class="btn btn-sm btn-primary rounded-pill px-3 me-1 my-1 show"
           [routerLink]="['./update', noti.maThongBao]">
          <i class="fa fa-wrench opacity-50 me-1"></i> Chỉnh sửa
        </a>
        <button class="btn btn-sm btn-danger rounded-pill px-3 my-1 btn-delete show"
                (click)="delete(noti.maThongBao)">
          <i class="fa fa-times opacity-50 me-1"></i> Xoá
        </button>
      </div>
    </div>
  </div>
  