.custom-btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.custom-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.select2-selection__placeholder {
    color: #050505 !important;
    /* Màu chữ nhạt hơn */
}

.custom-dropdown {
    position: relative; /* Container cần có position: relative */
    width: 100%; /* Đảm bảo dropdown chiếm đủ chiều rộng */
}

.custom-dropdown .placeholder {
    position: absolute; /* Định vị tuyệt đối trong container */
    top: 50%; /* Đặt ở giữa theo chiều dọc */
    left: 0.75rem; /* Cách lề trái */
    transform: translateY(-50%); /* Dịch chuyển lên trên 50% để căn giữa */
    color: #0f0f0f; /* Màu nhạt */
    pointer-events: none; /* Không cho phép tương tác với placeholder */
    transition: opacity 0.2s ease; /* Hiệu ứng mờ dần */
    z-index: 2; /* Đảm bảo placeholder nằm trên dropdown */
}



.custom-dropdown select:focus + .placeholder,
.custom-dropdown select:not([value=""]) + .placeholder {
    opacity: 0; /* Ẩn placeholder khi dropdown được focus hoặc có giá trị */
}

/*bang them cau hoi nhe*/
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.modal-footer {
    border-top: 1px solid #dee2e6;
}

.input-group {
    margin-bottom: 10px;
}
.table-vcenter {
    width: 100%;
    table-layout: fixed; /* Giữ nguyên kích thước cột */
}

.table-vcenter th, .table-vcenter td {
    padding: 12px; /* Tăng padding để bảng trông thoáng hơn */
}

.table-vcenter th {
    background-color: #f0f2f5; /* Màu nền cho header */
    font-weight: bold; /* Đậm chữ cho header */
}
/* TUY CHINH KICH THUOC */
/* Kiểu cho màn hình lớn */
.container {
    width: 1200px;
    margin: 0 auto;
}

/* Kiểu cho màn hình nhỏ hơn 768px */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}