<div class="d-flex vh-100" >
  <div *ngIf="userToken && !isExamPage" class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="d-flex flex-column flex-grow-1">
    <header *ngIf="userToken && !isExamPage">
      <div class="content-header p-2" style="height: 4.25rem; align-content: center;">
        <app-header></app-header>
      </div>
    </header>
    <main class="content bg-secondary-subtle flex-grow-1">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<!--
check số câu có trong môn học khi tạo exam
làm thông báo, sinh viên ở trang của sinh viên
-->
