<div class="row mb-4">
  <div class="col-6 flex-grow-1">
    <div class="input-group">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-primary dropdown-toggle" ngbDropdownToggle>
          <i [ngClass]="{
        'bi bi-clock': selectedStatus === 'Chưa mở',
        'bi bi-play-circle': selectedStatus === 'Đang mở',
        'bi bi-lock': selectedStatus === 'Đã đóng',
        'bi bi-list': selectedStatus === 'Tất cả'
      }">
          </i> {{ selectedStatus }}
        </button>
        <ul ngbDropdownMenu class="dropdown-menu-end">
          <li><a class="dropdown-item" (click)="selectStatus('Chưa mở')"><i class="bi bi-clock p-1"></i> Chưa mở</a>
          </li>
          <li><a class="dropdown-item" (click)="selectStatus('Đang mở')"><i class="bi bi-play-circle p-1"></i> Đang
              mở</a></li>
          <li><a class="dropdown-item" (click)="selectStatus('Đã đóng')"><i class="bi bi-lock p-1"></i> Đã đóng</a></li>
          <li><a class="dropdown-item" (click)="selectStatus('Tất cả')"><i class="bi bi-list p-1"></i> Tất cả</a></li>
        </ul>
      </div>
      <input type="text" class="form-control px-1" [(ngModel)]="searchText" placeholder="Tìm kiếm kì thi theo tên..." />
    </div>
  </div>
  <div class="col-6 d-flex align-items-center justify-content-end gap-3">
    <a routerLink="./create" class="btn btn-primary show">
      <i class="fa fa-fw fa-plus me-1"></i> Tạo Kì Thi
    </a>
  </div>
</div>

<div *ngFor="let exam of filteredExams" class="mb-2 bg-white rounded-3">
  <div class="border-start border-3 border-danger rounded-start">
    <div class="d-md-flex justify-content-md-between align-items-md-center">
      <div class="p-1 p-md-4">
        <h3 class="h4 fw-bold mb-3">
          <a [routerLink]="['./detail', exam.maKiThi]" class="text-dark text-decoration-none">{{ exam.tenKiThi }}</a>
        </h3>
        <p class="fs-sm text-muted mb-2">
          <i class="fa fa-layer-group me-1"></i> Giao cho học phần <strong>{{ exam.tenMonHoc }}</strong>
        </p>
        <p class="fs-sm text-muted mb-0">
          <i class="fa fa-clock me-1"></i> Diễn ra từ <span>{{ exam.thoiGianBatDau }}</span> đến
          <span>{{ exam.thoiGianKetThuc }}</span>
        </p>
        <p class="fs-sm text-muted mb-0">
          <i class="fa fa-clock me-1"></i> Thời gian làm <span>{{ exam.thoiGianThi }}</span> phút cho
          <span>{{ exam.soCau }}</span> câu
        </p>
      </div>
      <div class="p-1 p-md-3">
        <button class="btn btn-sm rounded-pill px-3 me-1 my-1" [ngClass]="{
            'btn-danger': getExamStatus(exam) === 'Đã đóng',
            'btn-success': getExamStatus(exam) === 'Đang mở',
            'btn-warning': getExamStatus(exam) === 'Chưa mở'
          }" disabled="">
          {{ getExamStatus(exam) }}
        </button>
        <a class="btn btn-sm btn-success rounded-pill px-3 me-1 my-1" [routerLink]="['./detail', exam.maKiThi]">
          <i class="fa fa-eye opacity-50 me-1"></i> Xem chi tiết
        </a>
        <a class="btn btn-sm btn-primary rounded-pill px-3 me-1 my-1 show" [routerLink]="['./update', exam.maKiThi]">
          <i class="fa fa-wrench opacity-50 me-1"></i> Chỉnh sửa
        </a>
        <button class="btn btn-sm btn-danger rounded-pill px-3 my-1 btn-delete show" (click)="delete(exam.maKiThi!)">
          <i class="fa fa-times opacity-50 me-1"></i> Xoá đề
        </button>
      </div>
    </div>
  </div>
</div>
