<div class="container-fluid vh-100">
  <div class="row h-100">
    <div class="col-md-6 d-flex align-items-center justify-content-center bg-light">
      <div class="p-5" style="max-width: 400px; width: 100%">
        <div class="text-center mb-4">
          <h1 class="fw-bold">
            <span class="text-dark">Nhóm 6</span>
          </h1>
          <p class="text-uppercase fw-bold text-muted">Đăng nhập</p>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="login()">
          <div class="mb-3">
            <input type="text"
                   name="id"
                   [(ngModel)]="model.id"
                   class="form-control"
                   placeholder="Mã sinh viên">
            <div *ngIf="idError" class="text-danger">{{ idError }}</div>
          </div>

          <div class="mb-3">
            <input type="password"
                   name="matkhau"
                   [(ngModel)]="model.matkhau"
                   class="form-control"
                   placeholder="Mật khẩu">
            <div *ngIf="matkhauError" class="text-danger">{{ matkhauError }}</div>
          </div>

          <button class="btn btn-primary w-100">Đăng nhập</button>
        </form>
        <!-- <div class="d-flex justify-content-between">
          <a class="btn btn-sm btn-outline-secondary" href="#">
            <i class="fas fa-exclamation-triangle me-1"></i> Quên mật khẩu
          </a>
          <a class="btn btn-sm btn-outline-secondary" href="#">
            <i class="fas fa-user-plus me-1"></i> New Account
          </a>
        </div> -->

      </div>
    </div>
    <div class="col-md-6 d-none d-md-flex align-items-center justify-content-center text-white"
      style="background: url('img/photo1.jpg') no-repeat center center/cover;  min-height: 100vh;">
      <div class="text-center p-4">
        <h1 class="display-4 fw-bold">Welcome to the Nhóm 6</h1>
        <p class="fs-lg">
          <i class="far fa-copyright me-1"></i> 67MH2
        </p>
      </div>
    </div>
  </div>
</div>
