<div class="d-flex justify-content-end">
  <!-- Dropdown Thông báo -->
  <div ngbDropdown class="d-inline-block" style="margin-right: 0.5rem;" *appHasRole='["sinhvien"]'>
    <button type="button" class="btn bg-secondary-subtle" ngbDropdownToggle>
      <i class="fa fa-fw fa-bell"></i>
    </button>
    <div ngbDropdownMenu class=" dropdown-menu-end p-0" style="width: 25rem;">
      <div class="bg-primary rounded-top fw-semibold text-white text-center p-3">
        Thông báo
      </div>
      <ul class="my-2">
        <!-- <li>
          <a class="d-flex text-dark py-2">
            <div class="flex-grow-1 fs-sm pe-2">
              <div class="truncate truncate--3">
                <span class="fw-semibold">Trần Nhật Sinh</span> đã gửi một thông báo đến
                học phần <span class="fw-semibold">Lập trình hướng đối tượng - Nhóm 1</span>: Nay báo cáo đồ án.
              </div>
              <div class="text-muted">08:53 08/05/2023</div>
            </div>
          </a>
        </li> -->
      </ul>
    </div>
  </div>

  <!-- Dropdown User -->
  <div ngbDropdown class="d-inline-block" style="padding-right: 20px;">
    <button class="btn bg-secondary-subtle dropdown-toggle" ngbDropdownToggle>
      <i class="bi bi-person-circle"></i>
    </button>
    <ul ngbDropdownMenu class="dropdown-menu-end">
      <li class="text-center">
        <img src="{{ user.avatar || 'img/user.png' }}" class="rounded mx-auto d-block" style="height: 50px; width: 50px;">
        <p style="text-align: center; padding-top: 0.5rem;">{{ user.hoten }}</p>
      </li>
      <li class="dropdown-divider"></li>
      <li><a class="dropdown-item" routerLink=""><i class="bi bi-gear p-1"></i> Tài khoản</a></li>
      <li><a class="dropdown-item" (click)="logout()"><i class="bi bi-box-arrow-left p-1"></i> Đăng xuất</a></li>
    </ul>
  </div>
</div>
