<div class="d-flex justify-content-end">
  <!-- Dropdown Thông báo -->
  <div ngbDropdown class="d-inline-block" style="margin-right: 0.5rem;" *appHasRole='["sinhvien"]'>
    <button type="button" class="btn bg-secondary-subtle" ngbDropdownToggle>
      <i class="fa fa-fw fa-bell"></i>
    </button>
    <div ngbDropdownMenu class=" dropdown-menu-end p-0" style="width: 25rem;">
      <div class="bg-primary rounded-top fw-semibold text-white text-center p-3">
        Thông báo
      </div>
      <div class="p-2">
        <div *ngFor="let noti of notifications"
          class="block block-content mb-2 bg-white border-start border-2 border-danger rounded">
          <div class="d-md-flex justify-content-md-between align-items-md-center mb-2">
            <div class="p-1 p-md-2">
              <h3 class="h4 fw-bold mb-3">{{ noti.noiDung }}</h3>
              <p class="fs-sm text-muted mb-0">
                <i class="fa fa-clock me-1"></i> Thời gian gửi <span>{{ noti.thoiGianTao }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Dropdown User -->
  <div ngbDropdown class="d-inline-block" style="padding-right: 20px;">
    <button class="btn bg-secondary-subtle dropdown-toggle" ngbDropdownToggle>
      <i class="bi bi-person-circle"></i>
    </button>
    <ul ngbDropdownMenu class="dropdown-menu-end">
      <li class="text-center">
        <img src="{{ user.avatar || 'img/user.png' }}" class="rounded mx-auto d-block"
          style="height: 50px; width: 50px;">
        <p style="text-align: center; padding-top: 0.5rem;">{{ user.hoten }}</p>
      </li>
      <li class="dropdown-divider"></li>
      <li><a class="dropdown-item" routerLink="/users" routerLinkActive="active"><i class="bi bi-gear p-1"></i> Tài
          khoản</a></li>
      <li><a class="dropdown-item" (click)="logout()"><i class="bi bi-box-arrow-left p-1"></i> Đăng xuất</a></li>
    </ul>
  </div>
</div>
